@model List<Web.Models.Snippet>
@{
    ViewBag.Title = "Index";
    var columns = 3;
    var newRow = true;
    int counter = 0;
}

<h2>Snippets</h2>
<a href="@Url.Action("Edit")" class="btn">Skapa nytt innehåll</a>

@foreach (var snip in Model)
{
    counter++;
    if (newRow)
    {
    @:<div class="row document-list">
}
    <div class="span4">
        <div class="document-box">
    <h6>@snip.ID</h6>
    <h5>@snip.Title</h5>
    <p>@snip.Content</p>
    <a href="@Url.Action("Edit", "Snippet", new { id = @snip.ID })" class="btn">Ändra</a>
        </div>
        </div>
    if (counter == columns)
    {
    @:</div>
    newRow = true;
    }
    else
    {
        newRow = false;
    }
}