@model Buttler.Models.Page

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Page</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Content</div>
    <div class="display-field">@Model.Content</div>

    <div class="display-label">ContentFormat</div>
    <div class="display-field">@(Model.ContentFormat == null ? "None" : Model.ContentFormat.Name)</div>

    <div class="display-label">ParsedContent</div>
    <div class="display-field">@Model.ParsedContent</div>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Slug</div>
    <div class="display-field">@Model.Slug</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


