<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Areas/Butler/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="top-bar">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
                <h1><a href="@Url.Action("Index","Welcome")">Butler</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="@Url.Action("Index","Welcome")">Dashboard</a></li>
                <li><a href="@Url.Action("Logout","Account")">Logout</a></li>
            </ul>
        </section>
        </nav>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
