@model Buttler.Models.Page

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Page</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Content</div>
    <div class="display-field">@Model.Content</div>

    <div class="display-label">ContentFormat</div>
    <div class="display-field">@(Model.ContentFormat == null ? "None" : Model.ContentFormat.Name)</div>

    <div class="display-label">ParsedContent</div>
    <div class="display-field">@Model.ParsedContent</div>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Slug</div>
    <div class="display-field">@Model.Slug</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


