@model IEnumerable<Buttler.Models.Page>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Content
        </th>
        <th>
            ContentFormat
        </th>
        <th>
            ParsedContent
        </th>
        <th>
            Title
        </th>
        <th>
            Slug
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.Content
        </td>
        <td>
			@(item.ContentFormat == null ? "None" : item.ContentFormat.Name)
        </td>
        <td>
			@item.ParsedContent
        </td>
        <td>
			@item.Title
        </td>
        <td>
			@item.Slug
        </td>
    </tr>
}

</table>


